$text: #e4e5ea;
$muted-text: #656566;
@mixin text-gradient {
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@mixin secondary-text-gradient {

background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
